.border-1 {
  width: 80%;
  height: 10rem;
  border: 0.5rem solid black;
}

.border-2 {
  border-radius: 2%;
  width: 60%;
  height: 10rem;
  font-size: 3.2rem;
  color: white;
  background-color: #8a2be2;
  text-align: center;
  line-height: 5rem;
  word-wrap: break-word;
}
