.box-1 {
  width: 50%;
  border: 0.5rem solid black;
}

svg {
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.box-2 {
  margin-top: 2rem;
  max-width: 50%;
  max-height: 50%;
  border: 0.5rem solid black;
  overflow: hidden;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
